@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: var(--black);
  --background-start-rgb: var(--white);
  --background-end-rgb: var(--white);

  /* Color variables */
  --white: 255, 255, 255;
  --black: 36, 32, 39;
  --beige: 230, 222, 202;
  --red: 146, 36, 79;
  --dark-red: 61, 37, 59;
  --pink: 241, 222, 229;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--white);
    --background-start-rgb: var(--black);
    --background-end-rgb: var(--black);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Textbox */
input[type="text"],
input[type="password"] {
  background-color: rgba(var(--foreground-rgb), 0.1);
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: rgb(var(--foreground-rgb));
}

.rank-3 {
  color: #000000;
}

.rank-4 {
  color: #8b329f;
}

.rank-5 {
  color: #ffbf00;
}

